@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #edf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.8;
    font-size: 13px;
}

.testimonials {
    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
}

.card_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card_header h3 {
    font-size: 15px;
}